* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

/* CENTER LOGIN */
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  animation: fadeIn 0.6s ease;
}

/* INPUT */
input, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(45deg, #22c55e, #4ade80);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #22c55e;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

/* CONTAINER */
.container {
  padding: 20px;
  animation: slideUp 0.5s ease;
}

/* LIST */
li {
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  transition: 0.3s;
}

li:hover {
  transform: translateX(5px);
}

/* CHART */
canvas {
  margin-top: 15px;
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 10px;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9);}
  to { opacity: 1; transform: scale(1);}
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity:0;}
  to { transform: translateY(0); opacity:1;}
}
